@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    /* font-family: "Inter", sans-serif; */
    font-optical-sizing: auto;
    font-style: normal;
  }
}

.ai-response-generator-popover-boxshadow {
  box-shadow:
    0px 0px 51px 0px rgba(0, 0, 0, 0.05),
    0px 0px 34.375px 0px rgba(0, 0, 0, 0.04),
    0px 0px 22.233px 0px rgba(0, 0, 0, 0.03),
    0px 0px 13.796px 0px rgba(0, 0, 0, 0.03),
    0px 0px 8.288px 0px rgba(0, 0, 0, 0.03),
    0px 0px 4.931px 0px rgba(0, 0, 0, 0.02),
    0px 0px 2.948px 0px rgba(0, 0, 0, 0.02),
    0px 0px 1.564px 0px rgba(0, 0, 0, 0.01);
}

.join-conversation-dialog-admin-details-shadow {
  box-shadow:
    0px 0px 33px 0px rgba(17, 48, 88, 0.04),
    0px 0px 19.326px 0px rgba(17, 48, 88, 0.03),
    0px 0px 10.511px 0px rgba(17, 48, 88, 0.02),
    0px 0px 5.363px 0px rgba(17, 48, 88, 0.02),
    0px 0px 2.689px 0px rgba(17, 48, 88, 0.02),
    0px 0px 1.299px 0px rgba(17, 48, 88, 0.01);
}

.active-conversation-card-shadow {
  box-shadow:
    0px 4px 31px 0px rgba(78, 91, 166, 0.03),
    0px 2.593px 18.155px 0px rgba(78, 91, 166, 0.02),
    0px 1.541px 9.874px 0px rgba(78, 91, 166, 0.02),
    0px 0.8px 5.037px 0px rgba(78, 91, 166, 0.01),
    0px 0.326px 2.526px 0px rgba(78, 91, 166, 0.01),
    0px 0.074px 1.22px 0px rgba(78, 91, 166, 0.01);
}

.sidebar-collapsible-btn-shadow {
  box-shadow:
    0px 0px 116px 0px rgba(0, 0, 0, 0.06),
    0px 0px 67.935px 0px rgba(0, 0, 0, 0.05),
    0px 0px 36.948px 0px rgba(0, 0, 0, 0.04),
    0px 0px 18.85px 0px rgba(0, 0, 0, 0.03),
    0px 0px 9.452px 0px rgba(0, 0, 0, 0.02),
    0px 0px 4.565px 0px rgba(0, 0, 0, 0.01);
}

.popover-boxshadow {
  box-shadow:
    0px 0px 51px 0px rgba(0, 0, 0, 0.05),
    0px 0px 34.375px 0px rgba(0, 0, 0, 0.04),
    0px 0px 22.233px 0px rgba(0, 0, 0, 0.03),
    0px 0px 13.796px 0px rgba(0, 0, 0, 0.03),
    0px 0px 8.288px 0px rgba(0, 0, 0, 0.03),
    0px 0px 4.931px 0px rgba(0, 0, 0, 0.02),
    0px 0px 2.948px 0px rgba(0, 0, 0, 0.02),
    0px 0px 1.564px 0px rgba(0, 0, 0, 0.01);
}

.pinnedColumnShadow {
  box-shadow:
    4px 0 12px -4px rgba(28, 27, 86, 0.05),
    8px 0 18px -8px rgba(28, 27, 86, 0.04),
    12px 0 30px -12px rgba(28, 27, 86, 0.03),
    16px 0 40px -16px rgba(28, 27, 86, 0.01);
}

.sources-card-shadow {
  box-shadow:
    0px 5.833px 35.139px 0px rgba(var(--system) / 0.02),
    0px 1.8px 9.75px 0px rgba(var(--system) / 0.01),
    0px 0.733px 4.889px 0px rgba(var(--system) / 0.01),
    0px 0.167px 2.361px 0px rgba(var(--system) / 0.01);
}

.data-sources-card-shadow {
  box-shadow:
    0px 0px 16px 0px rgba(var(--system) / 0.02),
    0px 0px 8.346px 0px rgba(var(--system) / 0.01),
    0px 0px 3.917px 0px rgba(var(--system) / 0.01),
    0px 0px 1.715px 0px rgba(var(--system) / 0.01),
    0px 0px 0.742px 0px rgba(var(--system) / 0.01);
}

.data-sources-dialog-shadow {
  box-shadow:
    0px 0px 33px 0px rgba(var(--system) / 0.04),
    0px 0px 19.326px 0px rgba(var(--system) / 0.03),
    0px 0px 10.511px 0px rgba(var(--system) / 0.02),
    0px 0px 5.363px 0px rgba(var(--system) / 0.02),
    0px 0px 2.689px 0px rgba(var(--system) / 0.02),
    0px 0px 1.299px 0px rgba(var(--system) / 0.01);
}

.gradient-text {
  background: linear-gradient(90deg, #3b82f6, #9333ea);
  /* Blue to purple */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* For modern browsers */
.hide-scrollbar {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Edge */
}
