@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: 78 70 220;
    --primary-foreground: 255 255 255;

    --card: 239 241 245;
    --card-foreground: 45 52 84;
  }
}
