@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --primary: 102 120 176; */
    /* --primary: 32 62 142;
    --primary-foreground: 255 255 255; */
    --primary: 96 60 241;
    /* #603CF1 */
    --primary-foreground: 255 255 255;

    --secondary: 254 202 81;
    --secondary-foreground: 255 255 255;

    --system: 16 24 40;
    /* #101828 */

    /* Just for testing purposes in Storybook: --primary-light-sample: 243, 252, 144; */
    --primary-light-sample: 243 252 144;
  }

  .input-bar-bg {
    background: linear-gradient(
      0deg,
      #fff 89.2%,
      rgb(var(--primary-foreground) / 0.9) 90.6%,
      rgb(var(--primary-foreground) / 0.8) 91.69%,
      rgb(var(--primary-foreground) / 0.7) 92.73%,
      rgb(var(--primary-foreground) / 0.6) 93.76%,
      rgb(var(--primary-foreground) / 0.5) 94.8%,
      rgb(var(--primary-foreground) / 0.4) 95.78%,
      rgb(var(--primary-foreground) / 0.3) 96.85%,
      rgb(var(--primary-foreground) / 0.2) 97.89%,
      rgb(var(--primary-foreground) / 0.1) 98.97%,
      rgb(var(--primary-foreground) / 0) 100%
    );
  }

  .bot-indicator {
    background: radial-gradient(
      61.46% 61.46% at 50% 38.54%,
      rgba(var(--primary) / 70%) 0%,
      rgba(var(--primary) / 90%) 100%
    );
  }

  .success-toast-shadow {
    box-shadow:
      0px 22px 94px 0px rgb(var(--positive-1000) / 0.08),
      0px 14.259px 55.051px 0px rgb(var(--positive-1000) / 0.06),
      0px 8.474px 29.941px 0px rgb(var(--positive-1000) / 0.05),
      0px 4.4px 15.275px 0px rgb(var(--positive-1000) / 0.04),
      0px 1.793px 7.659px 0px rgb(var(--positive-1000) / 0.03),
      0px 0.407px 3.699px 0px rgb(var(--positive-1000) / 0.02);
  }

  .slideitem-default-boxshadow {
    box-shadow:
      16.838px 0px 80.808px 0px rgb(var(--system) / 0.02),
      8.946px 0px 42.112px 0px rgb(var(--system) / 0.01),
      4.473px 0px 21.056px 0px rgb(var(--system) / 0.01);
  }

  .slideitem-hover-boxshadow {
    box-shadow:
      4.13px 0px 24.664px 0px rgb(var(--system) / 0.05),
      2.237px 0px 14.081px 0px rgb(var(--system) / 0.04),
      0.204px 0px 4.211px 0px rgb(var(--system) / 0.01);
  }

  .ring-system:focus {
    animation: focus-ring-system 2000ms ease-out;
  }

  @keyframes focus-ring-system {
    0% {
      box-shadow: 0 0 0 4px rgba(var(--system) / 0.2);
    }

    100% {
      box-shadow: none;
    }
  }
}
