@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --primary: 102 120 176; */
    /* --primary: 32 62 142;
    --primary-foreground: 255 255 255; */
    --primary: 78 70 220;
    --primary-foreground: 255 255 255;

    --secondary: 254 202 81;
    --secondary-foreground: 255 255 255;
  }

  .bottom-bar-shadow {
    box-shadow:
      0px 2px 80px 0px rgb(var(--primary) / 0.07),
      0px 1.296px 46.852px 0px rgb(var(--primary) / 0.05),
      0px 0.77px 25.481px 0px rgb(var(--primary) / 0.04),
      0px 0.4px 13px 0px rgb(var(--primary) / 0.04),
      0px 0.163px 6.519px 0px rgb(var(--primary) / 0.03),
      0px 0.037px 3.148px 0px rgb(var(--primary) / 0.02);
  }

  .bot-indicator {
    background: radial-gradient(
      61.46% 61.46% at 50% 38.54%,
      rgba(var(--primary) / 70%) 0%,
      rgba(var(--primary) / 90%) 100%
    );
  }

  .action-botton-shadow {
    box-shadow:
      0px 13px 80px 0px rgb(var(--primary) / 0.15),
      0px 2.6px 13px 0px rgb(var(--primary) / 0.08),
      0px 1.059px 6.519px 0px rgb(var(--primary) / 0.06),
      0px 0.241px 3.148px 0px rgb(var(--primary) / 0.04);
  }

  .success-toast-shadow {
    box-shadow:
      0px 22px 94px 0px rgb(var(--positive-1000) / 0.08),
      0px 14.259px 55.051px 0px rgb(var(--positive-1000) / 0.06),
      0px 8.474px 29.941px 0px rgb(var(--positive-1000) / 0.05),
      0px 4.4px 15.275px 0px rgb(var(--positive-1000) / 0.04),
      0px 1.793px 7.659px 0px rgb(var(--positive-1000) / 0.03),
      0px 0.407px 3.699px 0px rgb(var(--positive-1000) / 0.02);
  }
}
