@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .orb-container {
    box-shadow:
      0px 0px 36px 4px #fff,
      0px 12px 24px 4px rgba(0, 0, 0, 0.36);
    backdrop-filter: blur(calc(var(--sds-size-blur-100) / 2));
    background: radial-gradient(
      61.46% 61.46% at 50% 38.54%,
      #f5f5ff 0%,
      var(--input-color, #acb2eb) 100%
    );
  }

  .animate-taking-input {
    animation: animation-taking-input 1.6s infinite linear;
    animation-delay: 1ms;
  }

  .shining {
    border-radius: 50px;
  }

  .taking-input-thinking-2 {
    background: radial-gradient(
      42.71% 42.71% at 50% 50%,
      #fff 4%,
      var(--input-color, #acb2eb) 56.5%
    );
  }

  .taking-input-3 {
    background: radial-gradient(
      50% 50% at 50% 50%,
      #fff 4%,
      var(--input-color, #acb2eb) 56%
    );
  }

  /* Keyframes for the pulsating animation */
  @keyframes animation-taking-input {
    0% {
      @apply taking-input-thinking-2;
    }
    50% {
      @apply taking-input-3;
    }
    100% {
      @apply taking-input-thinking-2;
    }
  }
}
